---
const { frontmatter } = Astro.props;
import Layout from "../layouts/Layout.astro";
---

<Layout title={frontmatter.title}>
  <div class="max-w-2xl mx-auto text-start pt-10 text-white">
    <div class="mb-6">
      <h2 class="text-3xl">
        {frontmatter.title}
      </h2>
      <p>Written by: {frontmatter.author}</p>
    </div>

    <slot />
  </div>
</Layout>
